

.button{
  background-color:rgba(0, 0, 0, 0.5);
  border: none;
  color: rgba(255, 255, 255, 1);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  transition-duration: 0.4s;
}

.button:hover{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.marginTwenty{
  margin:20px;
}

body{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230077fd' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.navBar{
  background-color:rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 1;
}

.logo{
  width: 50%;
}

.jumbotron{
  padding:0;
  padding-bottom: 2em;
}

.main{
  padding-top: 7%;
  margin-bottom: 10%;
}

.white{
}

h6{
  font-size: 10px;
}

span{
  font-size: 25px;
}


h6{
  margin-top: 2em;
}

footer{
  font-size: 10px;
  text-align: center;
}

.paddingTopSix{
  padding-top:6em;
}
.paddingTopFour{
  padding-top:4em;
}

.banner img{
}

.buttonsPrevNext{
  }


.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

.amatic{
  font-family: 'Amatic SC', cursive;
}

.andika{
  font-family: 'Andika', sans-serif;
}

li{
  font-family: 'Andika', sans-serif;
}

#characterLeft{
  font-size:10px;
}

.plsAlign{
}
